{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <h4>Input</h4>
            <table class = "table table-bordered table-light table-striped ml-3" width = "5">
                <tbody>
                    <tr>
                        <td><b>Number of Fields</b></td>
                        <td><b>Outline</b></td>
                        <td><b>Span</b></td>
                        <td><b>Constant Line Load</b></td>
                    </tr>
                    <tr>
                        <td>{{fields}}</td>
                        <td><img src= "{{outlineImage}}"></td>
                        <td>{{span}} m</td>
                        <td>{{load}} kN/m</td>
                    </tr>
                </tbody>
            </table> 
        {% block csv %}

        {% endblock %}
    <h4>Results</h4>
   
            <table class="table table-bordered table-light table-striped">
            <tbody>
                <tr>
                    <td colspan = "2"><b>Support Forces:</b></td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>{{A}} kN</td>
                </tr>
                {% if B != 0 %}
                <tr>
                    <td>B</td>
                    <td>{{B}} kN</td>
                </tr>
                {% endif %}
                {% if C != 0 %}
                <tr>
                    <td>C</td>
                    <td>{{C}} kN</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2"><b>Shear Forces:</b></td>
                </tr>
                <tr>
                    <td>Vbl:</td>
                    <td>{{Vbl}} kN</td>
                </tr>
                {% if Vbr != 0 %}
                <tr>
                    <td>Vbr:</td>
                    <td>{{Vbr}} kN</td>
                </tr>
                {% endif %}
                {% if Vcl != 0 %}
                <tr>
                    <td>Vcl:</td>
                    <td>{{Vcl}} kN</td>
                </tr>
                {% endif %}
                {% if Vcr != 0 %}
                <tr>
                    <td>Vcr:</td>
                    <td>{{Vcr}} kN</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2"><b>Bending Moments:</b></td>
                </tr>
                <tr>
                    <td>Field Moment M1:</td>
                    <td>{{M1}} kNm</td>
                </tr>
                {% if M2 != 0 %}
                <tr>
                    <td>Field Moment M2:</td>
                    <td>{{M2}} kNm</td>
                </tr>
                {% endif %}
                {% if M3 != 0 %}
                <tr>
                    <td>Field Moment M3:</td>
                    <td>{{M3}} kNm</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Support Moment Mb:</td>
                    <td>{{Mb}} kNm</td>
                </tr>
                {% if Mc != 0 %}
                <tr>
                    <td>Support Moment Mc:</td>
                    <td>{{Mc}} kNm</td>
                </tr>
                {% endif %}
            </tbody>            
        </table>    
    <h4>Moment Diagram</h3>
    <img src="{{moments}}" width="1000" height="250" class="center">
    <h4>Shear Force Diagram</h3>
    <img src="{{shearForces}}" width="1000" height="250" class="center"><br>
    <p>
    <a class="btn btn-light" href="\">New Calculation</a>
    <a class="btn btn-light" href="\static\results.csv">Download Results as CSV</a>
    <a class="btn btn-light" href="\static\results.pdf">Download PDF-File</a>
    <a class="btn btn-light" href="\static\diagrams.zip">Download Diagrams</a>
    </p>


{% endblock %}
