{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
<div class="container-lg d-flex flex-column align-items-center mt-5">
    <h3>Input</h3>
            <table class = "table table-bordered table-light table-striped ml-3 text-center">
                <tbody>
                    <tr>
                        <td><b>Number of Spans</b></td>
                        <td><b>Outline</b></td>
                        <td><b>Span</b></td>
                        <td><b>Constant Line Load</b></td>
                    </tr>
                    <tr>
                        <td>{{fields}}</td>
                        <td><img src= "{{outlineImage}}"></td>
                        <td>{{span}} m</td>
                        <td>{{load}} kN/m</td>
                    </tr>
                </tbody>
            </table> 
 </div>
    <div class="container-lg d-flex flex-column align-items-center mt-5">
        
            <h3>Results</h3>  
            <table class="table table-bordered table-light table-striped text-center">
            <tbody>
                <tr>
                    <td colspan ="2"><b>Support Forces</b></td>
                    <td colspan="2"><b>Shear Forces</b></td>
                    <td colspan="2"><b>Bending Moments</b></td>
                </tr>
                <tr>
                    <td><b>A:</b></td>
                    <td>{{A}} kN</td>
                    <td><b>Vbl:</b></td>
                    <td>{{Vbl}} kN</td>
                    <td><b>Field Moment M1:</b></td>
                    <td>{{M1}} kNm</td>
                </tr>                
                <tr>                
                    <td><b>B:</b></td>
                    {% if B != 0 %}
                    <td>{{B}} kN</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}                
                    <td><b>Vbr:</b></td>
                    {% if Vbr != 0 %}
                    <td>{{Vbr}} kN</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}                
                    <td><b>Field Moment M2:</b></td>
                    {% if M2 != 0 %}
                    <td>{{M2}} kNm</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}                
                </tr>   
                <tr>                
                    <td><b>C:</b></td>
                    {% if C != 0 %}
                    <td>{{C}} kN</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}                 
                    <td><b>Vcl:</b></td>
                    {% if Vcl != 0 %}
                    <td>{{Vcl}} kN</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}                
                    <td><b>Field Moment M3:</b></td>
                    {% if M3 != 0 %}
                    <td>{{M3}} kNm</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}
                </tr>   
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Support Moment Mb:</b></td>
                    <td>{{Mb}} kNm</td>
                </tr>  
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Support Moment Mc:</b></td>
                    {% if Mc != 0 %}
                    <td>{{Mc}} kNm</td>
                    {% else %}
                    <td> - </td>
                    {% endif %}
                </tr>                  
            </tbody>            
            </table>   
        </div>
        </div>        
    </div>
</div>
<div class="container-lg d-flex align-items-center mt-5">
        <div class="text-center" style="margin-right: 20px;">
            <h3>Moment Diagram</h3>
            <img src="{{moments}}" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="text-center" style="margin-left: 20px;">
            <h3>Shear Force Diagram</h3>
            <img src="{{shearForces}}" class="img-fluid"style="max-width: 100%; height: auto;">
        </div>
</div>
<div class="container-lg d-flex flex-column align-items-center mt-5">
    <p>
    <a class="btn btn-light" href="\">New Calculation</a>
    <a class="btn btn-light" href="\static\results.csv">Download Results as CSV</a>
    <a class="btn btn-light" href="\static\results.pdf">Download PDF-File</a>
    <a class="btn btn-light" href="\static\images\results.zip">Download Diagrams</a>
    </p>
</div>

{% endblock %}
